bar/scripts/lemonbar/xmonad/dzen-cal
*.diff
*.o
*.orig
*.rej
*.hi
*.1
emacs/.emacs.d/auto-save-list
emacs/.emacs.d/config.el
emacs/.emacs.d/elpa
emacs/.emacs.d/elpy
emacs/.emacs.d/games
emacs/.emacs.d/network-security.data
emacs/.emacs.d/recentf
emacs/.emacs.d/transient
general_config/.config/mpd/*
!general_config/.config/mpd/mpd.conf
general_config/.config/mpv/*
!general_config/.config/mpv/input.conf
general_config/.config/qutebrowser/*
!general_config/.config/qutebrowser/config.py
general_config/.config/ranger/plugins/*
xmonad/.xmonad/promp-history
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors