#snippet [ "square brackets" iA
#[ $1]$0
#endsnippet
#snippet { "curly braces" A
#{ $1}$0
#endsnippet
#snippet ( "parentheses" A
#( $1) $0
#endsnippet
snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
