snippet setup "setup" b
#include <stdio.h>
#include <stdlib.h>

int main(){
$0
   return 0;
}
endsnippet
snippet {{ "braces" A
{
	$1
}
$0
endsnippet
snippet class "Classe" b
class $1 {
$2
};
$0
endsnippet
snippet else "else" 
else {
$2
}
$0
endsnippet
snippet if "if" 
if($1){
$2
}
$0
endsnippet
snippet elif "else if" 
else if($1){
$2
}
$0
endsnippet
